src/*.exe
src/wichcoin
src/wichcoind
src/test_wichcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.wichcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
wichcoin-qt
wichCoin-Qt.app

# Unit-tests
Makefile.test
wichcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
